@model SampleASPCore.Models.Restaurant

<div class="row">
    <!-- Default Card Example -->
              <div class="card mb-4">
                <div class="card-header">
                  Detail Restaurant
                </div>
                <div class="card-body">
                  Restaurant ID: @Model.Id dan Resto Name: @Model.Name
                </div>
              </div>
</div>